[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

#wrapper {
  width : 840px;
  margin-left : auto;
  margin-right : auto;
}

#info_bar {
  visibility:hidden;
  width:840px;
  height:40px;
}

.player_info {
  float:left;
  padding:5px 50px;
  width : 320px;
  height : 40px;
}

.player_name {
  float:left;
}

.player_resources {
  float:right;
}

#paper {
  width : 840px;
  height : 440px;
  background-color : #00CED1;
  visibility:hidden;
}

#controls {
  text-align: center;
  list-style: none;
  visibility:hidden;
}